/* Basic Body styling */
body {
	margin: 0;
	padding: 0;
	
	/* Set basic text size. 62.5% is chosen since browsers default to 16px, so can set up font sizes in em easily by dividing px size by 10 */
	font-size: 62.5%;
	font-family: Sans-Serif;
	
	/* Set up background image */
	background-image: url('images/BGImage.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

/* Navigation Bar */
/* 	The Navigation bar is formatted as grey text on a black background with a subtle "smoked glass" transparency effect. Mousing over 
	the links will cause the text on them to turn white */
nav {
	/* 	navbar's position is fixed on the page - needs to always be attached to top. This requires manual resizing to display correctly */
	position: fixed;
	height: auto;
	width: 100%;
	
	background-color: #000000;
	
	margin: 0;
	
	/* 	Stricty speaking the following is unnecessary, as the navbar is able to detect its size due to the name element on the left of it.
		This is included in case of future decisions making it necessary */
	overflow: auto;

}

nav p {
	display: inline-block;
	
	
	/* Eliminate pre-styled margin on "p" to avoid gap at top of screen */
	margin-top: 0;
	margin-bottom: 0;
}

.navLinks {
	margin-top: 1.8em;
	
	display: inline-block;
	float: right;
}

/* Font styling for elements in the navbar */
nav a,
nav p {
	color: #AEAEAE;
	font-size: 1.8em;
	padding: 1em;
	
	text-decoration: none;
}

/* Define behaviour of navbar links on hover */
nav a:hover {
	color: #FFFFFF;
	font-weight: 800;
}

/* Main Section */

/* This section has a background image whose position will remain fixed relative to the rest of the elements on the page */

/* debug div to test behaviour when scrolling */
main {
	height: 2000px;
	
	margin: 0 auto;
	padding: 0;
}